<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
  <appender
    name="log_file"
    class="ch.qos.logback.core.rolling.RollingFileAppender"
  >
    <file>${catalina.home}/logs/opencron.out</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home}/logs/opencron.out-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>365</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <MaxFileSize>100MB</MaxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender
    name="sql_file"
    class="ch.qos.logback.core.rolling.RollingFileAppender"
  >
    <file>${catalina.home}/logs/opencron_sql.out</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home}/logs/opencron_sql.out-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxHistory>365</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <MaxFileSize>100MB</MaxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.kovansys.mvp.common.log.BothiveJosonLayout" />
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="log_file" />
  </root>

  <logger
    name="org.hibernate.SQL"
    level="DEBUG"
    additivity="false"
  >
    <appender-ref ref="sql_file" />
  </logger>

</configuration> 